.App {
	text-align: center;
	padding: 2rem;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-image: url('https://oir.mobi/uploads/posts/2021-03/1616964580_41-p-fon-dlya-saita-42.jpg');
	background-size: cover;
	background-position: center;
	min-height: 100vh;
}
.Text {
  color: rgb(254, 255, 255);
}
